@import "/assets/bootstrap/css/bootstrap.min.css";

@font-face {
    font-family: BebasNue;
    src: url("/assets/fonts/Bebas.ttf");
}

:root {
    --white: #f4f4f4;
    --red: #cc0000;
}

.navbar {
    font-family: BebasNue;
    color: var(--white) !important;
    margin-bottom: 2em;
}

.read-more {
    font-family: BebasNue;
    font-size: 1.2em;
}

.post-date {
    margin-top: -0.8em;
    margin-bottom: -0.5em;
    font-style: italic;
}

.nav-item{
    color: var(--white) !important;
    font-size: 3.4em;
    padding-left: 0.5em !important;
}

.nav-item:hover{
    color: var(--white) !important;
    font-size: 3.4em;
    padding-left: 0.5em !important;
    text-decoration: underline;
}

h1,h2,h3{
    font-family: BebasNue;
}

a {
    color: var(--red);
    text-decoration: none;
}

a:hover {
    color: var(--red);
    text-decoration: underline;
}

body {
    background-color: var(--white);
}

/*
::selection {
    background: var(--red);
    color: var(--white);
}
*/